<form action="http://localhost:5500{{path}}" method="POST">
  <input
    type="text"
    placeholder="Nhập mật khẩu mới"
    name="newpass"
    id="password"
  />
  <button type="submit">Change</button>
</form>