<div class="toggleTable">
  <div class="buttons-container">
    <button class="button-arounder" id="testH">Holland</button>
  </div>
  <div class="buttons-container">
    <button class="button-arounder" id="testM">Mbti</button>
  </div>
</div>

<div id="test-container">
</div>

<template id="data-container" data-test="{{tests}}"></template>